.slider {
  position: relative;
}

.track-slider,
.range-slider {
  position: absolute;
  border-radius: 4px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.track-slider {
  width: 100%;
  z-index: 1;
}

.range-slider {
  z-index: 2;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  outline: none;
  width: 100%;
  top: 0;
  background: transparent;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: #0a0a0a;
  border-radius: 50%;
  border: 4px solid #14b8a6; /* teal-500 */
  cursor: pointer;
  height: 22px;
  width: 22px;
  pointer-events: all;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.thumb::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.thumb::-moz-range-thumb {
  background-color: #0a0a0a;
  border-radius: 50%;
  border: 4px solid #14b8a6;
  cursor: pointer;
  height: 22px;
  width: 22px;
  pointer-events: all;
  position: relative;
}
